@use "../../app.scss";
#remember {
	display: flex;
	flex-direction: row;
	input {
		width: auto;
		margin: 0 0.4em;
	}
}
#outer {
	display: grid;
	grid-template-columns: auto 20em auto;
}
form {
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
	input {
		margin: 1em 0;
		width: 100%;
		padding: 0.4em 0;
		font-size: 1em;
	}

	a {
		all: unset;
		width: 100%;
	}
}
