$text-color: #ffffff;
$primary-color: #bb3e32;
$secondary-color: #911414;
$background-color: #1c1c1c;

$font: "Open Sans";

:root {
	font-family: $font;

	color: $text-color;
}

body,
html {
	margin: 0;
	background-color: $background-color;
}

input,
button {
	box-shadow: none;
	color: $text-color;
	accent-color: $secondary-color;
	background-color: transparent;
	border-color: $secondary-color;
	border-radius: 0.4em;
	box-sizing: border-box;
}

a {
	all: unset;
}

@media only screen and (max-width: 600px) {
	.hiddenWhenSmall {
		display: none;
	}
}
